{"name":"trippr-nz","slug":"trippr-nz","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","plugins":[["expo-location",{"locationAlwaysAndWhenInUsePermission":"Allow $(PRODUCT_NAME) to use your location."}]],"splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#006aff"},"extra":{"eas":{"projectId":"d22c8fd6-96c2-434e-b65c-4ff29964cb24"}},"android":{"permissions":["android.permission.ACCESS_COARSE_LOCATION","android.permission.ACCESS_FINE_LOCATION","android.permission.FOREGROUND_SERVICE"],"package":"com.reubenm16.CarpoolNZApp"},"ios":{"bundleIdentifier":"com.reubenm16.CarpoolNZApp"},"sdkVersion":"49.0.0","platforms":["ios","android","web"]}